{% extends 'base_login.html' %}
{% block content %}
<div class="card-body register-card-body">
  <p class="login-box-msg">Register a new membership</p>

  <!-- {% block reg_val_content %}
    {% include "registration_validations.html" %}
  {% endblock %} -->
  {% if status.value != 0 %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-ban"></i> Error!</h5>
    {{ message }}
  </div>
{% endif %}

  <form action="{% url 'process_registration' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Username" name = "username">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-user"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Email" name = "email">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Phone" name = "phone_number">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Password" name = "password">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Retype password" name = "retype_password">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block" id="id_register_button">Register</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
</div>
{% endblock %}
